<div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="!id">Nhập hàng</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- Display PSTH -->
    <form class="form-horizontal form-label-left input_mask" [formGroup]="itemForm" autocomplete="off">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div>
                    <p><strong>{{"Số Chứng từ" }}</strong></p>
                    <div>
                        <input type="text" class="form-control" formControlName="SO_CT" [(ngModel)]="PSTH.SO_CT" />
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="form-group">
                    <p><strong>{{"Ngày Chứng từ" }}</strong></p>
                    <div>
                        <input type="text" formControlName="NGAY_CT" class="form-control" bsDatepicker
                            [(ngModel)]="PSTH.NGAY_CT"
                            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <p><strong>{{"Người giao hàng" }}</strong></p>
                    <div>
                        <input type="text" formControlName="ONG_BA" [(ngModel)]="PSTH.ONG_BA" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <p><strong>{{"Địa chỉ" }}</strong></p>
                    <div>
                        <input type="text" formControlName="DIA_CHI" [(ngModel)]="PSTH.DIA_CHI" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <p><strong>{{"MS Thuế" }}</strong></p>
                    <div>
                        <input type="text" formControlName="MS_THUE" [(ngModel)]="PSTH.MS_THUE" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="width: 30%;">
                <div class="form-group">
                    <p><strong>{{"Đối tượng" }}</strong></p>
                    <div>
                        <select class="form-control" formControlName="ID_DT" [(ngModel)]="PSTH.ID_DT"
                            (change)="ConverDoiTuong(PSTH.ID_DT)">
                            <option *ngFor="let item of doituongList" [value]="item.ID_DT">{{item.MA_DT}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="width: 70%;">
                <div class="form-group">
                    <p><strong>{{"Tên đối tượng" }}</strong></p>
                    <div>
                        <input type="text" formControlName="TEN_DT" class="form-control" disabled />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="width: 30%;">
                <div class="form-group">
                    <p><strong>{{"Mã kho" }}</strong></p>
                    <div>
                        <select class="form-control" formControlName="ID_KHO" [(ngModel)]="PSTH.ID_KHO"
                            (change)="ConverKho(PSTH.ID_KHO)">
                            <option *ngFor="let item of khoList" [value]="item.ID_KHO">{{item.MA_KHO}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="width: 70%;">
                <div class="form-group">
                    <p><strong>{{"Tên kho" }}</strong></p>
                    <div>
                        <input type="text" formControlName="TEN_KHO" class="form-control" disabled />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <p><strong>{{"Diễn giải" }}</strong></p>
                    <div>
                        <input type="text" formControlName="DIEN_GIAI" [(ngModel)]="PSTH.DIEN_GIAI"
                            class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th *ngFor="let column of PSCTColumn | jsonToArray" [style.width.%]="column.obj.Width">
                    {{column.obj.Caption}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of PSCT; let i = index">
                <td *ngFor="let column of PSCTColumn | jsonToArray">
                    <span *ngIf="column.obj.type != 'date' && !column.obj.edit">{{item[column.key]}}</span>
                    <span *ngIf="column.obj.type == 'date' && !column.obj.edit">{{item[column.key]
                        | date:
                        'dd/MM/yyyy'}}</span>

                    <input *ngIf="column.obj.type == 'string' && column.obj.edit" [(ngModel)]="item[column.key]"
                        type="text" [style.width.%]="100" required>
                    <input *ngIf="column.obj.type == 'date' && column.obj.edit" type="text"
                        [(ngModel)]="item[column.key]" bsDatepicker
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }" [style.width.%]="100"
                        required>
                    <input *ngIf="column.obj.type == 'number' && column.obj.edit" [(ngModel)]="item[column.key]"
                        type="number" [style.width.%]="100" required>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-default" (click)="onCreate()">Thêm mới</button>
</div>

<div class="modal-footer">
    <button class="btn btn-primary button-submit" type="submit" (click)=onSubmit(PSTH,PSCT)>
        <span *ngIf="!id">{{ 'button_add'| translate }}</span>
        <span *ngIf="id">{{ 'button_update'| translate }}</span>
    </button>
    <button type="button" class="btn btn-default" (click)="onClose()">{{'button_close'| translate }}</button>
</div>