<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <!-- <li><a routerLink="/main" routerLinkActive="active"><i class="fa fa-home"></i> {{'home_page' | translate}}</a></li> -->
      <!-- <li><a routerLink="/main/dashboard" routerLinkActive="active"><i class="fa fa-dashboard"></i> {{'dash_board' | translate}}</a></li> -->
      <li><a routerLink="" routerLinkActive="active"><i class="fa fa-dashboard"></i> {{'dash_board' | translate}}</a>
      </li>

      <!-- <li *ngIf="userLevel < 3"><a routerLink="inventory/nhapkho" routerLinkActive="active">Phiếu nhập hàng</a></li>
      <li *ngIf="userLevel < 3"><a routerLink="inventory/banhang" routerLinkActive="active">Phiếu xuất hàng</a></li>
      <li *ngIf="userLevel < 3"><a routerLink="inventory/candoi" routerLinkActive="active">Cân Đối Kế Toán</a></li> -->
      <!-- <li *ngIf="userLevel < 3"><a routerLink="inventory/hoatdong" routerLinkActive="active">Kết Quả Hoạt Động Sản Xuất Kinh Doanh </a></li>
      <li *ngIf="userLevel < 3"><a routerLink="inventory/luuchuyentt" routerLinkActive="active">Lưu Chuyển Tiền Tệ </a></li>
      <li *ngIf="userLevel < 3"><a routerLink="inventory/nhapxuattk" routerLinkActive="active">Nhập Xuất Tồn Kho </a></li>
      <li *ngIf="userLevel < 3"><a routerLink="inventory/sochitiettk" routerLinkActive="active">Sổ Chi Tiết Tài Khoản </a></li>
      <li *ngIf="userLevel < 3"><a routerLink="inventory/sonhatky" routerLinkActive="active">Sổ Nhật Ký Chung </a></li>
      <li *ngIf="userLevel < 3"><a routerLink="inventory/soquytienmat" routerLinkActive="active">Sổ Quỹ Tiền Mặt</a></li>
      <li *ngIf="userLevel < 3"><a routerLink="inventory/sotienguinh" routerLinkActive="active">Sổ Quỹ Tiền Gủi Ngân Hàng</a></li>
      <li *ngIf="userLevel < 3"><a routerLink="inventory/soquytonghop" routerLinkActive="active">Sổ Quỹ Tổng Hợp</a></li>
      <li *ngIf="userLevel >= 3"> <a routerLink="inventory/baocao" routerLinkActive="active">Theo dõi đơn hàng</a> </li> -->
      <li *ngIf="userLevel < 3"><a routerLink="inventory/tonghopbaocao" routerLinkActive="active">Báo cáo</a></li>

      <!-- <li ><a routerLink="inventory/nhapkho" routerLinkActive="active">Phiếu nhập hàng</a></li>
      <li ><a routerLink="inventory/banhang" routerLinkActive="active">Phiếu xuất hàng</a></li>
      <li> <a routerLink="inventory/baocao" routerLinkActive="active">Theo dõi đơn hàng</a> </li> -->
      <!-- <li><a> <i [ngClass]=""></i> Danh mục hệ thống <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="inventory/banhang" routerLinkActive="active">Phiếu xuất hàng</a></li> 
         
         <li><a routerLink="inventory/nhaphangtam" routerLinkActive="active">Phiếu nhập hàng tạm</a></li> 
          <li><a routerLink="task/vehicle" routerLinkActive="active">Test</a></li>         
        </ul>
      </li>  -->
    </ul>
  </div>

</div>