<!-- <div class="x_title">
  <h3><i class="fa fa-tasks"></i> Kết Quả Hoạt Động Sản Xuất Kinh Doanh</h3>
</div> -->
<br>

<div class="panel-filter">
  <div class="row">

    <div class="col-md-3 col-sm-6 col-xs-12 form-group">
      <div class="col-md-5 col-sm-6 col-xs-12 form-group label-created-date">
        <p for="">Từ Ngày - Đến Ngày</p>
      </div>
      <div class="col-md-10 col-sm-6 col-xs-12 form-group">
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'FromDate| translate'}}" class="media" bsDatepicker
            [(ngModel)]="this.fromDate"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange($event)"> -->
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'ToDate| translate'}}" class="media" bsDatepicker [(ngModel)]="this.toDate"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange2($event)" -->
        </div>
      </div>   
    </div>
    
    <div *ngIf="isDateRangeVisible" #dateRangeSection   class="col-md-3 col-sm-6 col-xs-12 form-group">
      <div class="col-md-5 col-sm-6 col-xs-12 form-group label-created-date">
        <p >Từ Ngày TR - Đến Ngày TR</p>
      </div>
      <div class="col-md-10 col-sm-6 col-xs-12 form-group">
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'FromDateTR| translate'}}" class="media" bsDatepicker
            [(ngModel)]="this.fromDateTR"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange($event)"> -->
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'ToDateTR| translate'}}" class="media" bsDatepicker [(ngModel)]="this.toDateTR"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange2($event)" -->
        </div>
      </div>   
    </div>

    <div>
      <div class="col-md-4 col-sm-6 col-xs-12 form-group panel-search">
        <button class="btn btn-primary" type="button" (click)="reloaddata()"><span class="glyphicon glyphicon-search"
            aria-hidden="true"></span></button>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 form-group panel-search">
        <button class="btn btn-primary" type="button" (click)="chuyen()">
          <span 
            aria-hidden="true">
          </span> Pre
        </button>
      </div>

    </div>
  </div>
</div>
<hr>
<!-- <div class="btn-add-new">
  <button class="btn btn-primary" type="button" (click)="showCreatenhapkhoModel()"><span
      class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'add_new'| translate}}
    </button>
</div> -->
<div class="nametb" >{{this.nametable}}</div>

<div class="account">
  <div>Dư nợ đầu ngày:{{this.nodauky | number}}</div>
  <div>Phát sinh nợ: {{this.psno|number}}</div>
  <div>Phát sinh có: {{this.psco|number}}</div>
  <div>Dư nợ cuối ngày:{{this.nocuoiky | number}}</div>
 </div>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let colInfo of columnInfonhapkho ">
          <div [style.width.px]="colInfo.Width">
            {{colInfo.Caption}}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>

    <ng-container *ngFor="let chungtu of nhapkhos ; let i = index">
        
        <!-- Thêm hàng mới để hiển thị tên nhóm -->
        <tr >
          <td><strong>{{ chungtu.NGAY_CT | date:'dd/MM/yyyy'}} </strong> </td>
          <td><strong>{{ chungtu.SO_CT }} </strong> </td>
        
          <td><strong>{{ chungtu.DIEN_GIAI}} </strong> </td>
          <td><strong>{{ chungtu.ONG_BA }} </strong> </td>
          <td><strong>{{ chungtu.TK_DOI_UNG }} </strong> </td>
          <td>{{  chungtu.PS_NO |number }}</td>
          <td>{{chungtu.PS_CO|number }}</td>
            
          
            <td><strong>{{ chungtu.DU_CUOI}} </strong> </td>
        </tr>
      
        <!-- Hiển thị thông tin của từng mục -->
        <!-- <tr class="select-item">
          <td *ngFor="let colInfo of columnInfonhapkho">
            <strong *ngIf="chungtu.BOLD == true && colInfo.Format == 'd' ">{{chungtu[colInfo.Name] | date:'dd/MM/yyyy'}}</strong>
            <span *ngIf="chungtu.BOLD != true && colInfo.Format == 'd' ">{{chungtu[colInfo.Name] | date:'dd/MM/yyyy'}}</span>
            
            <strong *ngIf="chungtu.BOLD == true && colInfo.Format == '#,##0.##;(#,##0.##);#' ">{{chungtu[colInfo.Name]|number }}</strong>
            <span *ngIf="chungtu.BOLD != true && colInfo.Format == '#,##0.##;(#,##0.##);#' ">{{chungtu[colInfo.Name]|number }}</span>
            
            <strong *ngIf="chungtu.BOLD == true && colInfo.Format == '' ">{{chungtu[colInfo.Name] }}</strong>
            <span *ngIf="chungtu.BOLD !=  true && colInfo.Format == '' ">{{chungtu[colInfo.Name] }}</span>
          </td>
        </tr> -->
      
      </ng-container>

    </tbody>

  </table>
  <div *ngIf="nhapkhos && nhapkhos.length == 0" class="col-md-12">
    <div class="alert alert-info">
      <strong>{{'dialog_alert_title'| translate }}!</strong> {{'task_manager_task_notice_list_empty'| translate }}
    </div>

  </div>
  
 

</div>